<% provide(:title, 'About Us') %>
<div class="center hero-unit">
<iframe width="560" height="315" src="http://www.youtube.com/embed/tl7FP9h7eqY" frameborder="0" allowfullscreen></iframe>
<h2>What is LifeSpan+?</h2>
<h3>
	The mission of LifeSpan+ is to make miracles out of simple efforts...Are you are ready to save a life and becoming someone's hero? The goal of LifeSpan+ is to help you become that hero.

    LifeSpan+ is a web application that serves as a link between potential blood donors and patients that urgently require blood! LifeSpan+ helps disseminate blood needs quickly and efficiently by using Social Platforms such as Facebook and Twitter and Mapping technologies such as Google Maps.
</h3>
 </br>
 <h2>How LifeSpan+ Works?</h2>

 <h3><b> 1) Blood Donor Sign Up </b></h3>
<h3>
 Everyone is encouraged to sign up as a Blood Donor on LifeSpan+ through our simple Sign Up page. All we need is an email address, a phone number and a password to make an account. It's that Simple!
</h3>
</br>
<h3><b>2) Confirm Email</b></h3>

 <h3>Blood Donation is a serious matter! To know we can count on you, we simply ask you to visit your email inbox and confirm your account by clicking on the link we send you. This way we know, you will really be there for us when we need you!
</h3>
</br>
 
<h3><b>3) Donation Requests</b></h3>

 <h3>Whenever one of our register hospitals are in need of blood, a blood request will be sent to your email inbox. An SMS will also be sent to your phone. We then count on you to help us save lives!
</h3>
</br>
<h3><b>3) Your Profile</b></h3>
<h3>
	Whenever you log into your profile on LifeSoan+, you will always see the most urgent blood requests. You will be typically only shown requests from within the last 24 hours.
</h3>
 
</div>