<body>
<h1>Who LifeSpan+ Works?</h1>
<br>
</br>

<h5>Donors Registration</h5>
<h6>
<p>Donors are requested to register theur data with "LifeSpan+", upon registration donors will choose their blood type, and will put their email address.
</p></h6>

<h5>Donation Request</h5>
<h6>
<p>
When the blood reserve a specific hospital go low, the officials at the hospitals will use LifeSpan+ portal to send request for blood donationg mentioning the blood type.
</p></h6>

<h5>Blood Donation</h5>
<h6>
<p>
LifeSpan+ system will automaticlly send Email to donors registered in the database asking to donate at the hospital during a duration of 24 hours.
</p></h6>
</body>

