<%= image_tag("female.jpg", :alt => "rss feed") %>
<% provide(:title, 'Contact Us') %>


<div class="center hero-unit">


<h2>Contact Us</h2>
<h3>
	Phone: (974) 66090897 
</h3>
  
 <h3>
 Hours: Monday to Friday<br>
 6 a.m. to 2 p.m. GMT
 </h3>

 
 <h3>
 E-mail: lifespan.donation@gmail.com
 </h3>
 
 
 <h3><b>
 Important! To help us expedite your request,
  please include your name, phone number
  (indicate day or evening) and fax number when 
  corresponding via e-mail. 
 </h3></b>


 <h3>
 Mailing address<br>
 LifeSpan+, Inc.<br>
 Attn: Credit-Prepaids<br>
 Route 101A, 730 West Porto Drive<br>
 Doha, QA 03054-4631<br>
 </h3>
</div>