<% provide(:title, 'Contact Us') %>


<div class="center hero-unit">

<h2>Contact Us</h2>
<p>
	Phone: (974) 66090897 
</p>
  
 <p>
 Hours: Monday to Friday<br>
 6 a.m. to 2 p.m. GMT
 </p>

 
 <p>
 E-mail: lifespan.donation@gmail.com
 </p>
 
 
 <p><b>
 Important! To help us expedite your request,
  please include your name, phone number
  (indicate day or evening) and fax number when 
  corresponding via e-mail. 
 </p></b>


 <p>
 Mailing address<br>
 LifeSpan+, Inc.<br>
 Attn: Credit-Prepaids<br>
 Route 101A, 730 West Porto Drive<br>
 Doha, QA 03054-4631<br>
 </p>
</div>