<% provide(:title, 'Contact Us') %>
<body>

<h1>Contact Us</h1>
<h6><p>
    LifeSpan+ mission is to make miracles out of simple efforts...Are you are ready to save a life and becoming someone's hero ...by donating blood? Then the goal of this web application is to help you become that hero.

    LifeSpan+ is a web application that will be used to make a link between potential blood donors and patients that require an urgent need for blood, it will the fast spread of a health need where people can share it to reach the highest number of potential blood donors in the shortest time period.

</p>
</h6>
</body>