<% provide(:title, 'Contact Us') %>
<body>

<h1>Contact Us</h1>

<h4> 
<p>	
Phone: (974) 66090897 
</p>

<p>
Hours: Monday to Friday<br>  
6 a.m. to 2 p.m. GMT
</p>

<p>
E-mail: lifespan.donation@gmail.com
</p>

<p>
Important! To help us expedite your request,<br>
 please include your name, phone number <br>
 (indicate day or evening) and fax number when <br> 
 corresponding via e-mail. <br>
</p>

<p>
Mailing address<br>
LifeSpan+, Inc.<br>
Attn: Credit-Prepaids<br>
Route 101A, 730 West Porto Drive<br>
Doha, QA 03054-4631<br>
</p>
</h4>
</body>