<div class="outer">
    <!-- Header starts -->
    <header>
      <div class="container">
        <div class="row">
          <div class="span4">
              <div class="logo">
                <!-- If you are using image for logo, then replace the below two lines with image tag. Recommended size of logo image is less than 270x110 -->
                <a href=""><img src="http://s8.postimg.org/dupit741x/logo.jpg" alt="LifeSpan+" /></a>
              </div>
          </div>
          <div class="span4 offset4">
              <div class="social">
                  <a href="https://www.facebook.com/pages/LifeSpan/425536624196631?ref=ts&fref=ts"><img src="http://s23.postimg.org/fetimunuj/images_2.jpg" class='icon-facebook'> </a>
                  <a href="https://twitter.com/DonationLife"><img src="http://s16.postimg.org/6s7qquaw5/images_1.jpg" class='icon-facebook'> </a>
                  
                  <a href="#"><img src="http://s8.postimg.org/caf3a5cud/images_4.jpg" class='icon-facebook'> </a>
                  
                  
                  
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- Header ends -->
 <% if current_donor && current_donor.admin == true %>
<h1>System Admin</h1>
 
 <%elsif current_donor && current_donor.admin == false %> 
 <% elsif current_medic && current_medic.admin == true %>
 <% elsif current_medic && current_medic.admin == false %>
  <% else %>
<div class="center hero-unit">

<h1>LifeSpan+</h1>
<p>
	96% of us rely on the other 4% to give blood. Please don’t leave it to someone else!
</p>
 <%=link_to "Donate Now!", login_path, class:"btn btn-large btn-primary" %>
</div>
   <% end %>





 
 
