<% provide(:title, 'Privacy Policy') %>
<div class="center hero-unit">

<h2>Privacy Policy</h2>

 <h3>This Privacy Policy governs the manner in which LifeSpan+ collects, uses, maintains and discloses information collected from users (each, a "User") of the lifespan-plus.herokuapp.com website ("Site"). This privacy policy applies to the Site and all products and services offered by LifeSpan+.</h3>

 <h3><b>Personal identification information</b></h3>


  <h3>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</h3>

  <h3><b>Non-personal identification information</b></h3>


  <h3>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</h3>

  <h3><b>Web browser cookies</b></h3>
  
  <h3>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</h3>

  <h3><b>How we use collected information</b></h3>
<h3>LifeSpan+ may collect and use Users personal information for the following purposes:</h3>

<h3>-To run a promotion, contest, survey or other Site feature</h3>
<h3>-To send Users information they agreed to receive about topics we think will be of interest to them.</h3>
<h3>-To send periodic emails</h3>

   <h3>If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, they may do so by contacting us via our Site.</h3>
   
   




   <h3><b>How we protect your information</b></h3>


   <h3>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</h3>

   <h3>Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</h3>
  
  
   <h3><b>Sharing your personal information</b></h3>



   <h3>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
</h3>

<h3><b>Third party websites</b></h3>

   <h3>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.</h3>

   <h3><b>Compliance with children's online privacy protection act</b></h3>

      <h3>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Site from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</h3>
      
      <h3><b>Your acceptance of these terms</b></h3>

          <h3>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</v>
          
              <h3><b>Privacy policy created by <%= auto_link("http://www.generateprivacypolicy.com")%></b></h3>
 
</div>