<% provide(:title, 'Regulations') %>
<div class="center hero-unit">

<h2>4 Steps to Donate Blood - The Gift of Life</h2>

<h3><b>Step 1: No Chronic Disease</b></h3>
<h3>
 Blood Donors cannot have chronic diseases of the heart, lungs or related circulatory systems.
</h3>


 <h3><b>Step 2: Appropiate Weight & Age</b></h3>

 <h3> Blood Donors have to be atleast 16 years of age and 50 kg in weight.</h3>


 <h3><b>Step 3: Healthy Blood </b></h3>

 <h3>Blood Donors need to have a minimum haemoglobin level of 12.5 grams/decileter. They need to have a systolic blood pressure between 100-160 and a diastolic blood pressure between 60-100.</h3>


  <h3> <b>Step 4: Healthy Heartrate and Blood Pressure </b></h3>

 <h3>Blood Donors should have a Resting pulse between 60-100 and a body temperature of 37.5 Degrees Celsius.</h3>

 
</div>