<% provide(:title, 'About Us') %>
<div class="center hero-unit">

<h1>4 Steps to Donate Blood - The Gift of Life</h1>
 </br>
</br>
<h2>Step 1: No Chronic Disease</h2>
<h3>
	<b> Blood Donors cannot have chronic diseases of the heart, lungs or related circulatory systems. </b>
</h3>
 </br>
</br>
 <h2>Step 2: Appropiate Weight & Age</h2>

 <h3><b> Blood Donors have to be atleast 16 years of age and 50 kg in weight.</b></h3>
 </br>
</br>
 <h2>Step 3: Healthy Blood</h2>

 <h3><b> Blood Donors need to have a minimum haemoglobin level of 12.5 grams/decileter. They need to have a systolic blood pressure between 100-160 and a diastolic blood pressure between 60-100.</b></h3>
 </br>
</br>
  <h2>Step 4: Healthy Heartrate and Blood Pressure</h2>

 <h3><b>Blood Donors should have a Resting pulse between 60-100 and a body temperature of 37.5 Degrees Celsius.</b></h3>

 
</div>
<%= image_tag("male.jpg", :alt => "rss feed") %>