@import "bootstrap";

/*universal*/
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}
html{
	overflow-y: scroll;
}

body {
	padding-top: 60px;
	margin: 20;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color:#bd362f;
	background-color: #ffffff;
	text-align: center;


}
a {
	color: #ee5f5b;
	font-size: 13px;
}

section {
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;

}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;

}

h1 {

	font-size: 1.8em;
	margin-bottom: 30px;
	text-align: center;
	color:#bd362f;

}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
	text-align: center;
}

h3{
	font-size:0.7em;
	text-align:left;
}

h4{
	font-size:1.4em;
	text-align:left;
}



h5 {
	font-size: 0.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: left;
	font-weight: normal;
	color: #999;

}


p {
	font-size: 1.3em;
	line-height: 1.7em;
	text-align: center;
	padding-top:-20px;
	margin-bottom: 10px;
	margin-left: 15px;



}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

/*footer*/

footer a {
	color: #555;
}

footer a:hover {
	color:#222;
}

footer small {
	float :right;
}

footer ul {
	float: left;
	list-style: none;
	margin-left: 5px;
	font-size:16px;
	
	
}

footer ul li{
	float: left;
	margin-left: 6px;
}

/*miscellaneous*/

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */
aside {
	section {
		padding: 10px 0;
		border-top: 1px solid ;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}

	}
}
li {
	font-size: 15px;
}
.gravatar {
	float: left;
	margin-right: 10px;
}

/*forms*/

input,textarea,select,.uneditable-input {
	border: 1px solid #bbb;
	width: 5%;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color : #f00;
	ul{
		list-style: none;
		margin: 0 0 18px 0;
	}

}

.field_with_errors {
	@extend .control-group;
	@extend .error;

}

.navbar{
	margin:0px 0px 0px 0px;
}



.navbar-inner{

	background: #bd362f !important; 
	background-image: none;
	background-repeat: no-repeat;
	filter: none !important;
	border-top:1px solid #a63b33 !important;
	border-bottom:1px solid #a63b33 !important;
	border-left:0px !important;
	border-right:0px !important;
}

.navbar .btn{
	background:#a63b33 !important;  
	font-size:8px;
	padding:4px 10px;
}

.navbar .btn:hover{
	background:#a63b33 !important;
}

.navbar .caret{
	border-top-color:#fff !important;
	border-bottom-color:#fff !important;
}
/*
.navbar .brand{
color:#fff !important;
text-shadow:none !important;
}
*/
.navbar .nav{
	border-left:1px solid #a63b33;
	border-right:1px solid #a63b33;
}

.navbar .nav > li > a{
	padding:12px 15px 12px;
	color:#fff !important;
	text-shadow:none !important;
	border-right: 1px solid #b0514a;
	border-left:1px solid #b0514a;

}

.navbar .nav > li > a:hover{
	background:#cc412a !important;
	color:#fff !important;

}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
	color: #ffffff;
	box-shadow:none;
	background: #cc412a !important;
}

/*button*/

input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%;}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#bd362f;background-image:-moz-linear-gradient(top, #bd362f, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#bd362f));background-image:-webkit-linear-gradient(top, #bd362f, #bd362f);background-image:-o-linear-gradient(top, #bd362f, #bd362f);background-image:linear-gradient(to bottom, #bd362f, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f', endColorstr='#ffbd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#ffffff;background-color:#bd362f;*background-color:#a9302a;}
.btn-primary:active,.btn-primary.active{background-color:#942a25 \9;}



.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}




/*For the pages and hero units*/
.hero-unit {


	padding: 30px;	
	margin-bottom: -10px;
	font-size: 18px;
	font-weight: 200;
	line-height: 20px;
	color: inherit;
}


.hero-unit h1 {
	font-size: 50px;
	line-height: 1;
	color: inherit;
	letter-spacing: -1px;
	color:#bd362f;
	text-align: center;


}

.hero-unit h2 {
	font-size: 25px;
	line-height: 1;
	color: inherit;
	letter-spacing: -1px;
	color:black;
	text-align: left;
	padding-top: -30px;
	margin-left: 7px;
	color:#bd362f;
	font-weight: bold;
	

}

.hero-unit h3 {
	font-size: 0.9em;
	line-height: 1.7em;
	text-align: left;
	padding-top:-20px;
	margin-bottom: 10px;
	margin-left: 7px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color:black;
}

.hero-unit h4 {
	font-size: 0.5em;
	line-height: 1.7em;
	text-align: left;
	padding-top:-20px;
	margin-bottom: 10px;
	margin-left: 7px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color:black;
}
/*Logo*/
.logo{
margin-top:5px;
margin-left:auto;
margin-right:auto;
width:270px;
height:110px;
}

.logo img{
max-width:270px;
max-height:110px;
}

/*For the icons*/
[class^="icon-"], [class*=" icon-"] {
	width: 30px;
height: 30px;
line-height: 30px;
vertical-align: text-top;
background-repeat: no-repeat;
}


/* forms */

 select {
  border: 1px solid #bbb;
  width: 80px;
  padding: 10px;
  margin-bottom: 15px;

}

input, textarea,.uneditable-input
{
	border: 1px solid #bbb;
	  width: 250px;
	  padding: 10px;
	  margin-bottom: 15px;
}



input {
  height: auto !important;
}

.label, .badge{
	background-color:white;
	color:#bd362f ;
}

#inline-errors{
	font-size:13px;
}

#error_explanation ul{
	color:blue;
}
#inline-errors{
	font-size:12px;
	}


table{
	margin-left:-50px;
	margin-right:40px;
	width:70%;
}
