.container {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

#banner, #nav {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}


img#logo {
	width: 20%;
	margin-top: 10px;
	margin-bottom:10px;
}


#nav ul {
	width: 100%;
	padding: 0;
	margin:0 0 0 0 ;
}
	
#nav li {
	width: 100%;
	margin: 0;
	font-size: 30pt;
}
h1 {font-size:210%;margin-top:0px;font-weight:normal}
h2 {font-size:180%;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:120%;font-weight:normal}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h1,h2,h3,h4,h5,h6{
background-color:transparent;
color:#000000;
}
body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input{
font-family:verdana,helvetica,arial,sans-serif;
}

#header {
	margin: 0 auto;
	background:#B00000 ;
	height: 15px;
	color: #B00000 ;
	
}

#nav a {
	line-height: 2em;
	width: auto;
	float: none;
	margin: 0;
	padding:0 0px 0 0px;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	/*border-bottom-color: black;*/
	background-color:#B00000;


}

p.three
{
border-style:solid;
border-width:1px;
border-color:black;


}
li.about {
	border-width: 2px;
	border-style: solid;
	border-color:black;
	
	
	
}

#nav a:hover, #nav a:focus {
text-decoration: none;
}

li.topline a {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: black;
	
}

h1 {
	font-size: 12pt;
}

p {
	font-size: 11pt;
	line-height: 15pt;
}


