#nav { display: block; }

#nav ul {
	position: static;
	list-style-type: none;
	line-height: 50px;
	overflow: hidden;
	float: none;
}

#nav li {
	float: left;
	font-size: 0.5em;
}

#nav a {
	margin: 0 0.5em 0 0;
	display: block;
	padding: 20px 40px 10px 10px;
	color:black;
	font-weight: bold;
	border-bottom: none;
}

#nav a:hover, #nav a:focus {
	color: white;
/*	text-decoration: underline;
*/}
