
body {
	background-color: #FFF;
	color: #1C1C1C;
	font-family: Helvetica, Arial, sans-serif;
	font-size:75%;
	max-width:768px;
	margin:auto;
}
.container {
	background-color: #FFFFFF;
    border: 1px solid #999;
}

#banner {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 5px;
}

img#logo {
	margin-right: 15px;
	border: 1px solid #999;
}

h5{
font-family: Georgia, "Times New Roman", Times, serif;
color:red;
font-size:16pt;
padding: 0px 0px 0px 20px;
margin: 0px;


	/* font-family: "Myriad Pro", Helvetica, Arial, sans-serif; */
	
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;	/* font-family: "Myriad Pro", Helvetica, Arial, sans-serif; */
}

h1 {
	font-size: 2.5em;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	text-shadow: 1px 1px 3px #333;
}
h1 a:link, h1 a:visited {
	color: #000;
	text-decoration: none;
}
h1 a:hover {
	color: #3F3F3F;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

h1 a:hover img,
h1 a:focus img {
	opacity: 0.8;
}

p {
	font-size: 1.4em;
	line-height: 1.6em;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus {
	color: #000;
}




