<p>Dear Donor,</p></b>

<p>O+ is needed at <%= @medic_org%>, which is in <%= @medic_region%></b>
	if you cannot donate blood, share this message and save someone's life</p>


<p>Sent by:</b>
<%= @medic_name%></b>
working in <%= @medic_org%></p>



