<footer class ="footer">
	
 	<nav>
 	</br>
 		<ul>
			<li><%= link_to "About", about_path %> </li>
    		<li><%= link_to "Contact", contact_path %> </li>
    		<li><%= link_to "Privacy", privacy_path %> </li>
    		<li><%= link_to "Regulations", regulations_path %> </li>
  		</ul>
 	</nav>
 	</br>
 	</br>
 	<small>
 		 <a href= "mailto:chaxz93@gmail.com">  Srinjoy Chakravarty </a> |
 		 <a href= "mailto:aliya.hashim11@gmail.com">  Aliya Hashim </a> |
 		 <a href= "mailto:oladaher@gmail.com">  Ola Daher </a> |
 		<a href= "mailto:acheweiky@gmail.com">  Daniel Cheweiky </a>
 	</small>
</footer>