<footer class ="footer">
	<small>
 		Coded by <a href= "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-snc6/252715_10150991531039679_417469217_n.jpg">  Srinjoy Chakravarty </a>
 		Tested by <a href= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTJKl-M2soEeFFcwnjX0VTfBX6e_nE3rw7t7Z2aRjlZb2paiUZxEA">  Aliya Hashim </a>
 		Designed by <a href= "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/11873_469874846395373_1800119754_n.jpg">  Ola Daher </a>
 		Planned by <a href= "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c53.53.665.665/s160x160/67034_10151505782538728_52888454_n.jpg">  Daniel Cheweiky </a>
 	</small>
 	<nav>
 		<ul>
			<li><%= link_to "About", about_path %> </li>
    		<li><%= link_to "Contact", contact_path %> </li>
    		<li><%= link_to "Privacy", privacy_path %> </li>
  		</ul>
 	</nav>
</footer>